<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* Basic styling for tab buttons */
    .tab {
        cursor: pointer;
        /* padding: 10px 20px; */
        /* margin-right: 5px; */
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        display: inline-block;

        margin: 0px;
        padding: 7px;
        cursor: pointer;

        display:inline-block;
        /* padding:.15em .3em; */
        font-size: 1.05rem;
        font-weight: 400;
        line-height: 1;
        color: var(--global-text-color);

        vertical-align:baseline;
        border-radius:.1rem;

        margin-bottom: 0rem;

        border: 1px solid var(--global-badge-color);
        background-color: var(--global-code-bg-color);  // _themes.scss
        color: var(--global-card-bg-color);
    }

    /* Active tab styling */
    .tab.active {
        color: #fff;
        background-color: #787878;
    }

    /* Tab content styling */
    .tab-content {
        display: none;
        padding: 5px;
        border: 1px solid #ccc;
        border-top: none;
    }

    /* Show active tab content */
    .tab-content.active {
        display: block;
        margin-top: 0rem;
        padding-top: 0rem;
    }
</style>


<body>

    <!-- Tab buttons -->
    <div>
        <span class="tab active" onclick="openTab('tab1')">All</span>
        <span class="tab" onclick="openTab('tab2')">Optimization</span>
        <span class="tab" onclick="openTab('tab3')">Image processing</span>
        <span class="tab" onclick="openTab('tab4')">Machine learning</span>
    </div>

    <!-- Tab contents -->
    <div id="tab1" class="tab-content active">
      <div class="publications">
        {% bibliography %}
      </div>
    </div>
    <div id="tab2" class="tab-content">
      <div class="publications">
        {% bibliography -q @*[category=optimization] %}
      </div>
    </div>
    <div id="tab3" class="tab-content">
      <div class="publications">
        {% bibliography -q @*[category=image-processing] %}
      </div>
    </div>
    <div id="tab4" class="tab-content">
      <div class="publications">
        {% bibliography -q @*[category=machine-learning] %}
      </div>
    </div>

    <script>
        function openTab(tabId) {
            // Get all elements with class="tab-content" and hide them
            const tabContents = document.querySelectorAll('.tab-content');
            tabContents.forEach(content => content.classList.remove('active'));

            // Get all elements with class="tab" and remove the class "active"
            const tabs = document.querySelectorAll('.tab');
            tabs.forEach(tab => tab.classList.remove('active'));

            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(tabId).classList.add('active');
            document.querySelector(`.tab[onclick="openTab('${tabId}')"]`).classList.add('active');
        }
    </script>

</body>